<h2>Reporter output</h2><table><tr><td>[D]setupSystemProperties<br /></td></tr>
<tr><td>[D]setupSystemProperties: [platform.name:Android]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [speedup.android:false]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [platform.version:9]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [executionTag:@Test]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [connector.id:act-rdc]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [proxy.username:chy869]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [device.name:LGE_G7_real]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [mobile.properties.profile:AndroidDEV]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [saucelab.testobject.api.key:A85B6C99E1884183AE2AD10A6D9F25E6]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [proxy.password:Welcome2020]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [proxy.host:proxy.ha.org.hk]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [test.env:dev]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [featureFilePath:src/test/resources/features/ha_pay.feature]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [appium.remote.address:http://us1-manual.app.testobject.com/wd/hub]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [dataFilePath:src/test/resources/datafile/dev/ha_pay_dataset.xlsx]<br /></td></tr>
<tr><td>[D]setupSystemProperties: [proxy.port:8080]<br /></td></tr>
<tr><td>[D]Cucumber Options: src/test/resources/features/ha_pay.feature --tags '(@Test) and not @ManualTest' --plugin'pretty' --plugin'utility.ResultCollector' --plugin'json:target/Cucumber.json' --plugin'formatter.CustomExcelFormatter'<br /></td></tr>
<tr><td>[D]===============================<br /></td></tr>
<tr><td>[D]Start Scenario: Pay HA View Payment @Device:Mobile<br /></td></tr>
<tr><td>[D]===============================<br /></td></tr>
<tr><td>[D]isContinueSameSession: false<br /></td></tr>
<tr><td>[D]Init Driver<br /></td></tr>
<tr><td>[D]Appium remote address: http://us1-manual.app.testobject.com/wd/hub<br /></td></tr>
<tr><td>[D]Capabilities: Capabilities {appActivity: hk.org.ha.hago.MainActivity, appPackage: hk.org.ha.hago, appium:autoDismissAlerts: true, appium:autoGrantPermissions: true, appium:newCommandTimeout: 300.0, automationName: UiAutomator2, deviceName: LGE_G7_real, platformName: Android, platformVersion: 9, testobject_api_key: A85B6C99E1884183AE2AD10A6D9..., tunnelIdentifier: act-rdc}<br /></td></tr>
<tr><td>[D]Speed up setup for Android: false<br /></td></tr>
<tr><td>[D]Driver Session: 9c521f1d-037c-4c56-b15a-fac8eab2a889<br /></td></tr>
<tr><td>[T]findElementBy: xpath: //*[@text='Skip'], </td></tr>
<tr><td>, Loading Time(ms) : 1385<br /></td></tr>
<tr><td>[D]Element xpath: //*[@text='Skip'] exists<br /></td></tr>
<tr><td>[T]findElementBy: xpath: //*[@text='Skip'], </td></tr>
<tr><td>, Loading Time(ms) : 967<br /></td></tr>
<tr><td>[T]tap: xpath: //*[@text='Skip'], </td></tr>
<tr><td>, Loading Time(ms) : 1058<br /></td></tr>
<tr><td>[T]findElementBy: id: android:id/button1, </td></tr>
<tr><td>, Loading Time(ms) : 1140<br /></td></tr>
<tr><td>[D]Element id: android:id/button1 not found, retrying 1 times<br /></td></tr>
<tr><td>[T]findElementBy: id: android:id/button1, </td></tr>
<tr><td>, Loading Time(ms) : 1023<br /></td></tr>
<tr><td>[D]Element id: android:id/button1 not found, retrying 2 times<br /></td></tr>
<tr><td>[T]findElementBy: id: android:id/button1, </td></tr>
<tr><td>, Loading Time(ms) : 873<br /></td></tr>
<tr><td>[D]Element id: android:id/button1 not found, retrying 3 times<br /></td></tr>
<tr><td>[T]findElementBy: id: android:id/button1, </td></tr>
<tr><td>, Loading Time(ms) : 944<br /></td></tr>
<tr><td>[D]Element id: android:id/button1 not found, retrying 4 times<br /></td></tr>
<tr><td>[T]findElementBy: id: android:id/button1, </td></tr>
<tr><td>, Loading Time(ms) : 859<br /></td></tr>
<tr><td>[D]Element id: android:id/button1 not found, retrying 5 times<br /></td></tr>
<tr><td>[D]Element id: android:id/button1 is not exists<br /></td></tr>
<tr><td>[T]findElementBy: xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView, </td></tr>
<tr><td>, Loading Time(ms) : 1001<br /></td></tr>
<tr><td>[D]Element xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView not found, retrying 1 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView, </td></tr>
<tr><td>, Loading Time(ms) : 1170<br /></td></tr>
<tr><td>[D]Element xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView not found, retrying 2 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView, </td></tr>
<tr><td>, Loading Time(ms) : 895<br /></td></tr>
<tr><td>[D]Element xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView not found, retrying 3 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView, </td></tr>
<tr><td>, Loading Time(ms) : 1142<br /></td></tr>
<tr><td>[D]Element xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView not found, retrying 4 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView, </td></tr>
<tr><td>, Loading Time(ms) : 984<br /></td></tr>
<tr><td>[D]Element xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView not found, retrying 5 times<br /></td></tr>
<tr><td>[D]Element xpath: /hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup[2]/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.TextView is not exists<br /></td></tr>
<tr><td>[T]findElementBy: xpath: //*[@text='Frequently Used'], </td></tr>
<tr><td>, Loading Time(ms) : 1432<br /></td></tr>
<tr><td>[D]Element xpath: //*[@text='Frequently Used'] not found, retrying 1 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: //*[@text='Frequently Used'], </td></tr>
<tr><td>, Loading Time(ms) : 1045<br /></td></tr>
<tr><td>[D]Element xpath: //*[@text='Frequently Used'] not found, retrying 2 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: //*[@text='Frequently Used'], </td></tr>
<tr><td>, Loading Time(ms) : 1481<br /></td></tr>
<tr><td>[D]Element xpath: //*[@text='Frequently Used'] not found, retrying 3 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: //*[@text='Frequently Used'], </td></tr>
<tr><td>, Loading Time(ms) : 1067<br /></td></tr>
<tr><td>[D]Element xpath: //*[@text='Frequently Used'] not found, retrying 4 times<br /></td></tr>
<tr><td>[T]findElementBy: xpath: //*[@text='Frequently Used'], </td></tr>
<tr><td>, Loading Time(ms) : 1086<br /></td></tr>
<tr><td>[D]Element xpath: //*[@text='Frequently Used'] not found, retrying 5 times<br /></td></tr>
<tr><td>[D]Element xpath: //*[@text='Frequently Used'] is not exists<br /></td></tr>
<tr><td>[D]Image Size: 2<br /></td></tr>
<tr><td>[D]Scenario Status=FAILED<br /></td></tr>
<tr><td>[D]Session ID: 9c521f1d-037c-4c56-b15a-fac8eab2a889<br /></td></tr>
<tr><td>[D]===============================<br /></td></tr>
<tr><td>[D]End Scenario : Pay HA View Payment @Device:Mobile<br /></td></tr>
<tr><td>[D]******<br /></td></tr>
<tr><td>[D]end<br /></td></tr>
<tr><td>[D]******<br /></td></tr>
<tr><td>[D]===============================<br /></td></tr>
<tr><td>[D]Querying: select FUNCTION_ID,FUNCTION_NAME from FUNCTION_LIST<br /></td></tr>
<tr><td>[D]Querying: select PARAMETER,VALUE from BASIC_INFORMATION <br /></td></tr>
<tr><td>[D]Effective Cucumber Option Tag= '(@Test) and not @ManualTest' <br /></td></tr>
<tr><td>[D]Start to write Result Json <br /></td></tr>
<tr><td>[D]Start to generate Word Report<br /></td></tr>
<tr><td>[D]******<br /></td></tr>
<tr><td>[D]end<br /></td></tr>
<tr><td>[D]******<br /></td></tr>
</table>